<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	<targets>
		<target xsi:type="File" name="ownFile" fileName="${environment:USERPROFILE}\Desktop\TestEOS\TestEOS\Logs\log.log"
                layout="${longdate}||${message} ${exception}"/>

	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Trace" final="true" />
		<logger name="*" minlevel="Trace" writeTo="ownFile" />
	</rules>
</nlog>