@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <td>
        <form asp-controller="Log" method="post">
            <a class="btn btn-sm btn-warning" asp-action="Start" asp-controller="Log">Запустить</a>
            <a class="btn bth-sm btn-dark" asp-action="Stop" asp-controller="Log">Остановить</a>
        </form>

    </td>

</div>
