@{
    ViewData["Title"] = "Page";
}

<h1>Log Control</h1>

<form asp-controller="Log" method="post">
    <button type="button" id="start" class="btn btn-sm btn-warning active" data-action="start">Запустить фоновую задачу!</button>
    <button type="button" id="stop" class="btn bth-sm btn-dark" data-action="stop">Остановить фоновую задачу!</button>
</form>


<script>
    $(document).ready(function () {
        // Handle button click events
        $('button[data-action]').click(function () {
            // Disable current active button
            $('button.active').removeClass('active').prop('disabled', false);
            // Enable clicked button and mark it as active
            $(this).addClass('active').prop('disabled', true);
            // Call the corresponding controller action
            var action = $(this).data('action');
            $.post('/Log/' + action);
        });
    });
</script>